target/
*.class
*.jar
*.war
*.ear

.vscode/
.history/
bin/

.idea/
*.iml
.settings/
.project
.classpath

.DS_Store
._*
.Spotlight-V100
.Trashes
Thumbs.db
desktop.ini

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

*.log
*.tmp
*.swp
*~

docs/
target/site/apidocs/